    <ul class="country-info-list">
        <li class="country-info">
            <img src="{{this.flags.png}}" width="40" height="30">
            <h2 class="country">{{this.name.official}}</h2>
        </li>
        <li class="country-info">
            <p class="capital">Capital: {{this.capital}}</p>
        </li>
        <li class="country-info">
            <p class="population">Population: {{this.population}}</p>
        </li>
        <li class="country-info">
            <p class="languages"></p>
        </li>
    </ul>